<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>作业帮-登录页面</title>

  <link rel="stylesheet" href="./CSS/index.css">
</head>

<body>
  <div class="quit">
    <a href="javascript: history.back();">×</a>
  </div>
  <div class="login-box">
    <div class="header">
      <img src="./images/logo.png" alt="logo" class="logo">
      <h2 class="title">密码登录</h2>
    </div>
    <p class="tip">请输入密码直接登录</p>
    <input type="text" class="account" placeholder="请输入手机号码" v-model="account" maxlength="13" v-bind:class="{ empty: accountIsEmpty }">
    <input type="password" class="password" placeholder="请输入密码" v-model="password" v-bind:class="{ empty: passwordIsEmpty }">
    <div class="forget"><a href="#">忘记密码</a></div>
    <button class="login-button" @click="login" v-bind:class="{ disabled: buttonIsDisabled }">登录</button>
    <div class="user-agreement">
      <input type="checkbox" v-model="isAgree">
      <span>同意<a href="#">用户服务协议</a>、<a href="#">隐私政策</a>及<a href="#">儿童用户隐私政策</a></span>
    </div>
  </div>

  <script src="./JavaScript/flexible.js"></script>
  <script src="./JavaScript/Vue2.js"></script>
  <script src="./JavaScript/index.js"></script>
</body>
</html>
